<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Registration</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  
  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular/angular-route.min.js"></script>
  <script src="js/lib/angular/angular-animate.min.js"></script>

  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services/auth.js"></script>
  <script src="js/controllers/registration.js"></script>
  <script src="js/controllers/successcontroller.js"></script>

</head>
<body>
<header>
  <nav class="cf" ng-include="'views/nav.html'"></nav>
</header>
<div class="page">
  
  <div class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
    <span class="userinfo">Hi {{currentUser.firstname}}</span>
    <a ng-href="#/login" ng-click="logout()">logout</a>
  </div>
  
  <main class="cf" ng-view></main>
</div>
</body>
</html>
